.card
{
  margin-top: 0;
  margin-right: 0 !important;

  overflow: hidden;
  background-position: center;
}

.item-bg
{
  //background-image: url("../../../assets/colorsplash-bg.jpg");
  margin-bottom: 20px !important;
}

.item
{
  margin-top: 40px;
}

.description
{
  position: absolute;
  top:0;
  bottom:0;
  right:0;

  padding: 20px;
  z-index: 0;
  background-color: rgba(255,255,255,1);
}

.item-preview
{
  z-index: 100;

  &:before
  {
    z-index: -10;
    left: -50px;
    top: -10px;
    display: block;
    content: url("../../../assets/splash.png");
    position: absolute;
  }

}

.item-title
{
  color: gray;
  font-size: 1.4em;
  font-weight: lighter;
}

.title
{

}

.item-cover
{
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
}

.price
{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  left: 0;
  display: block;
  background-color: rgba(255,255,255,0.5);
  z-index: 200;
}