<div class="item">

  <div class="details">
    <div class="clearfix">
      <span class="item-title">
        {{item.name}}
      </span>

    </div>
  </div>


  <div class="card item-bg">
    <div class="item-cover row">

      <span class="item-preview col-md-4">
        <img [src]="item.cover" >
      </span>

      <span class=" offset-2 col-md-6 description">
        {{item.description}}
      </span>

      <span class="price pull-right text-center">
        {{item.price}} руб.
      </span>
    </div>

    </div>

  <span class="float-right">
        <app-item-count [item]="item" >
        </app-item-count>
    </span>

  <button class="btn btn-primary" [routerLink]="['/item', item.id]">Подробнее</button>
</div>