
<div class="card item-preview text-center">
  <div class="price pull-right">
    {{item.price}} руб.
  </div>
  <img class="item-cover" [src]="item.cover" >
</div>

<div class="details">
  <div class="clearfix item-title">
    <span class="title">
      {{item.name}}
    </span>
    <div class="float-right">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
  </div>
  <div class="clearfix">
    <span class="pull-right">
      <app-item-count [item]="item" >
      </app-item-count>
    </span>

  </div>



</div>