.card
{
  margin-top: 40px;
}

.item-cover
{
  width: 100%;
  max-height: 300px;
  max-width: 300px;
  height: auto;
}

.item-title
{
  color: gray;
}

.title
{
  font-size: 1.2em;
  font-weight: lighter;
}

.item-preview
{
  margin-bottom: 20px;
  padding: 20px;
}

.price
{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  left: 0;
  display: block;
  background-color: rgba(255,255,255,0.5);
}