<div class="header-form">
    <app-contact-form></app-contact-form>
</div>

<app-base-page headerSrc="assets/header-bg.jpg" [fullWidth]="true">
    <div content infiniteScroll
         [infiniteScrollDistance]="4"
         [infiniteScrollUpDistance]="1.5"
         [infiniteScrollThrottle]="500"
         (scrolled)="onScroll()">
        <app-item-list [items]="items$ | async"></app-item-list>
    </div>
</app-base-page>
