<div class="header-container" [style.height]="height">
    <div *ngIf="videoUrl" class="header-video">
        <video [src]="videoUrl" autoplay muted loop></video>
    </div>

    <div *ngIf="imageUrl" [style.background-image]="'url('+imageUrl+')'" class="header-image parallax__layer parallax__layer--back">
        <ng-content></ng-content>
    </div>
</div>


