.header-image
{
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //background-image: linear-gradient(to bottom,rgba(41,43,44,0),rgba(41,43,44,1));
    opacity: 1;
  }
}

.header-container
{

}

.header-video
{
  width: 100%;
  height: auto;
  video
  {
    bottom:0;
    height:auto;
    min-height:100%;
    min-width:100%;
    position:fixed;
    right:0;
    width:auto;
    z-index:-1;
  }
}

