<div class="card">
  <form>
    <div class="form-group">
      <label for="inputEmail3">Email</label>
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="message">Сообщение</label>
      <textarea class="form-control" id="message" placeholder="Сообщение"></textarea>
    </div>

    <div class="form-group">
      <div class="pull-right">
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
      </div>
    </div>
  </form>
</div>