<div (mouseenter)="onOver()" (mouseleave)="onOut()" class="cart-preview">
  <button class="btn btn-primary cart-button" routerLink="/cart">
    {{count$ | async}} Товаров на {{totalPrice$ | async}}руб
  </button>
  <div  *ngIf="isOver" class="cart-preview-list bg-inverse">
    <app-cart-preview></app-cart-preview>
  </div>
</div>