<div #header>
  <app-header [imageUrl]="imageUrl" [videoUrl]="videoUrl" [height]="headerHeight">
    <ng-content select="[header-content]"></ng-content>
  </app-header>
</div>

<div #content>
  <div class="main">
    <div class="content"
         [class.container]="!fullWidth"
         [class.container-fluid]="fullWidth">
      <ng-content select="[content]"></ng-content>
    </div>
  </div>
</div>