<app-base-page [fullWidth]="true" [headerHeight]="0">
  <div content>
    <app-cart-preview></app-cart-preview>
    <button class="btn btn-primary" [routerLink]="['/checkout']">Оформить заказ</button>
  </div>
</app-base-page>
