<div *ngIf="(item$ | async) as item">
  <app-base-page [headerSrc]="item.headerUrl" [fullWidth]="true">
    <div content>
      <h1>{{item.name}}</h1>
      <app-video-player [src]="item.videoUrl" class=""></app-video-player>
      <p>{{item.description}}</p>
    </div>
  </app-base-page>
</div>