<div class="cart-preview-item card">
  <div class="row">
    <span class="cart-preview-img col-md-5">
      <img [src]="item.item.cover" class="img-fluid img-thumbnail"/>
    </span>
    <span class="cart-preview-item-count">
     <app-item-count [item]="item.item"></app-item-count>
    </span>
  </div>
</div>
