<div *ngIf="(count$ | async) as count else addBtn" class="counter row">
  <button class="btn btn-outline-primary btn-sm col-md-3" (click)="removeOne()">-</button>
    <input type="number" [value]="count" class="col-md-5 form-control form-control-sm" (change)="setCount($event)" min="0">
  <button class="btn btn-outline-primary btn-sm col-md-3" (click)="addOne()">+</button>
</div>
<ng-template #addBtn>
    <button class="btn btn-link btn-sm" (click)="addOne()">
      Добавить
    </button>
</ng-template>