@import "~bootstrap/scss/_variables";

.content
{
  background-color: #F1F1F1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.main
{
  position: relative;
  width: 100%;
  background-color: #F1F1F1;
  z-index: 500;
}

.card
{
  border-radius: 1px !important;
  border: 1px solid #efefef !important;
}

body
{
  background-color: $gray-dark !important;
}

button
{
  cursor: pointer;
}

/*.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-2px) scale(3.1);
}*/

.noPadding
{
  padding: 0 !important;
}

$brand-primary:             $blue;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $red;