<div class="card">
  <div class="card-block">
    <form [formGroup]="form" autocomplete="off" novalidate>

      <input type="email" placeholder="email" formControlName="email">
      <input type="text" placeholder="phone" formControlName="phone">

    </form>
  </div>
</div>
